:root {
    --edera-blue: rgb(0, 80, 140);
    --edera-light-orange: rgb(250, 200, 100);
    --edera-orange: rgb(250, 175, 0);
    --edera-dark-orange: rgb(250, 136, 43);

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #f8f8f8;
    --light-gray: #ccc;
    --gray: #565d63;
    --dark-gray: #363d42;
    --black: #222;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    font-family: var(--font-family-sans-serif), sans-serif;
    font-size: 1.01em;

}

/* content top */

.content .content-nav .top {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.content .content-nav .numbers {
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.content .content-nav .numbers a {
    margin: 0.2em 0.8em;
    color: var(--gray);

}

.content .content-nav .numbers a:hover {
    color: var(--black);
}


.content .content-nav .top .subject a {
    color: var(--gray);
}

.content .content-nav .top .subject a:hover {
    color: var(--black);
}

.content {
    margin-top: 6em;
    min-height: 50em;
}

.content .content-nav {
    padding: 1.5% 20%;
}

/***********/

/* content mid */

.content .task {
    background-color: var(--white);

}

/* content text */

.content .task .text {
    padding: 2% 30%;

}

.content .task .text * {
    color: var(--dark-gray);

}

.content .task .text .annotation {
    color: var(--light-gray);
    font-size: 0.7em;
}

/* content checkboxes */

.checkboxes {
    display: flex;
    flex-direction: column;
    padding: 2% 30%;

}

.checkboxes span {
    margin-left: .5em;
}

.checkboxes * {
    color: var(--dark-gray);
}

.checkboxes .question-label {
    margin-bottom: 1em;
    cursor: pointer;
}

.checkboxes .question-radio {
    background: white;
    box-shadow: none;
    border: 1px solid var(--light-gray);
}

/***********/

/* content bottom */

.content .task .bottom-panel {
    padding: 2% 30%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    margin-bottom: 3em;
}


.content .task .bottom-panel .explanation span {
    color: var(--light-gray);
    cursor: pointer;
}

.content .task .bottom-panel .explanation span:hover {
    text-decoration: underline;
}

.content .task .explanation-text span {
    color: var(--light-gray);
}

.content .task .explanation-text {
    padding: 2% 20%;

}
/***********/

/* footer */

.footer {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;

    padding: 1% 20%;
    background-color: var(--light);
    width: 100%;
    min-height: 10em;
}

.footer .footer-item {
    flex-direction: column;
    display: flex;
    flex-flow: wrap row;

    width: auto;
    margin: 0.3em 0;
}

.footer .footer-item .footer-item {
    min-height: 3em;
    min-width: 3em;
    width: auto;
    margin: 1em 0.5em;
}

.footer .footer-item .footer-item .footer-top {
    margin-bottom: 2em;
}

.footer .footer-item .footer-item .footer-small-text {
    margin-bottom: 1em;
    font-size: 0.7em;
    color: var(--black);
}

.footer .footer-item .footer-item .footer-header-text {
    font-size: 1em;
    color: var(--black);

}

.footer .footer-item .footer-item .footer-option-text {
    margin-bottom: 1em;
    font-size: 0.9em;
    color: var(--dark-gray);

}

.footer .footer-item .footer-item .footer-text-link:hover {
    text-decoration: none;
    color: var(--edera-orange);
}

.footer-social-ico {
    /*float: right;*/
    margin: 0 0 0.5em 1em;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/***********/

/* navbar */

.navbar {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    height: auto;
    max-height: 6em;
    padding: 1.5% 3%;
    transition: all 0.4s ease;
}

.navbar .left {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}

.navbar .right{
    display: flex;
    flex-flow: wrap row;
    align-items: center;

}

.navbar * .item .link {
    color: var(--gray);
    margin: 0 20px;
}

.navbar * .item .link:hover {
    color: var(--black);
}

.navbar.shrink {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/***********/

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-item-column {
    flex-direction: column;
}

.flex-item-row {
    flex-direction: row;
}

.container-fluid {
    padding: 0;
}

.bottom-grey-string {
    border-bottom: solid 1px var(--light-gray);
}

.active {
    color: var(--edera-orange) !important;
}

.active:hover {
    color: var(--edera-dark-orange) !important;
}

.btn-grey {
    background-color: var(--white);
    cursor: pointer;
    border: solid 1px var(--light-gray);
    border-radius: 0.5em;
    padding: 0.5em 2em;

}

.btn-grey:hover {
    border: solid 1px var(--black);
    color: var(--black);
}

.btn-light-grey {
    color: var(--light-gray);
    background-color: var(--white);
    cursor: pointer;
    border: solid 1px var(--light-gray);
    border-radius: 0.5em;
    padding: 0.5em 2em;

}

.btn-light-grey:hover {
    border: solid 1px var(--black);
    color: var(--black);
}

.btn-orange {
    padding: 0.5em 2em;
    box-sizing: border-box;
    cursor: pointer;
    border: solid 1px var(--edera-orange);
    background-color: var(--edera-orange);
    color: var(--white) !important;
    border-radius: 0.5em;
}

.btn-orange:hover {
    background-color: var(--edera-dark-orange);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.invisible {
    margin: 0;
    padding: 0;
    opacity: 1;
}