:root {
    --edera-blue: rgb(0, 80, 140);
    --edera-orange: rgb(250, 175, 0);
    --edera-light-orange: rgb(250, 200, 100);

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --light-gray: #ccc;
    --gray: #6c757d;
    --dark-gray: #666;
    --black: #111;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    font-family: var(--font-family-sans-serif), sans-serif;
}

/* content */



.content .content-nav .top{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    margin-bottom: 2em;
}

.content .content-nav .numbers{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.content .content-nav .numbers a{
    margin: 0.2em 0.8em;
    color: var(--gray);

}

.content .content-nav .numbers a:hover{
    color: var(--black);
}


.content .content-nav .top .subject{
    padding: 0.5em 2em;
}

.content .content-nav .top .subject a{
    color: var(--gray);
}


.content .content-nav .top .subject a:hover{
    color: var(--black);
}

.content {
    margin-top: 5em;
    min-height: 50em;
}

.content .content-nav{
    padding: 1.5rem 3rem;
}


/***********/

/* footer */

.footer {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;

    padding: 1em 10em;
    background-color: var(--light);
    width: 100%;
    min-height: 10em;
}

.footer .footer-item {
    flex-direction: column;
    display: flex;
    flex-flow: wrap row;

    width: auto;
    margin: 0.3em 0;
}


.footer .footer-item .footer-item {
    min-height: 3em;
    min-width: 3em;
    width: auto;
    margin: 1em 0.5em;
}


.footer .footer-item .footer-item .footer-top {
    margin-bottom: 2em;
}

.footer .footer-item .footer-item .footer-small-text {
    margin-bottom: 1em;
    font-size: 0.7em;
    color: var(--black);
}

.footer .footer-item .footer-item .footer-header-text {
    font-size: 1em;
    color: var(--black);

}

.footer .footer-item .footer-item .footer-option-text {
    margin-bottom: 1em;
    font-size: 0.9em;
    color: var(--dark-gray);

}

.footer .footer-item .footer-item .footer-text-link:hover {
    text-decoration: none;
    color: var(--edera-orange);
}

.footer .footer-item .footer-item .footer-social-ico {
    float: right;
    margin: 0 0 0.5em 1em;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 10px;
}


/***********/


/* navbar */

.navbar-light .navbar-nav .nav-link .active {
    color: var(--edera-orange) !important;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: var(--edera-light-orange) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-gray);
    margin: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-gray);
    margin: 0 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--black);
    margin: 0 20px;
}

.navbar {
    font-size: 1em;
    height: 5em;
    padding: 1.5rem 3rem;
    transition: all 0.4s ease;
}

.navbar.shrink {
    height: 3.3em;
}


/***********/


.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content:    space-between;
}


.flex-item-column {
    flex-direction: column;
}

.flex-item-row {
    flex-direction: row;
}

.container-fluid {
    padding: 0;
}

.bottom-grey-string {
    border-bottom: solid 1px var(--light-gray);
}
.active {
    color: var(--edera-orange) !important;
}

.active:hover {
    color: var(--edera-light-orange) !important;
}


.btn-grey {
    background-color: var(--white);
    cursor: pointer;
    border: solid 1px var(--light-gray);
    border-radius: 0.5em;
    padding: 0.5em 2em;

}

.btn-grey:hover {
    border: solid 1px var(--black);
    color: var(--black);
}

.btn-orange {
    padding: .5rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
    border: solid 1px var(--edera-orange);
    background-color: var(--edera-orange);
    color: var(--white) !important;
    border-radius: 0.5em;
}

.btn-orange:hover {
    background-color: var(--edera-light-orange);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}